---
import type { Gallery } from '@lib/sanity/types';
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import { sanityClient } from 'sanity:client';
import groq from 'groq';
import GalleryGrid from '@components/GalleryGrid.astro';

const galleries = await sanityClient.fetch<Gallery[]>(groq`*[_type == "gallery"] {
      ...,
      images[][0...3] {
        ...,
         asset->
        }
      }`);
---

<DefaultLayout title="Gallery">
  {
    galleries?.map((gallery) => {
      return (
        <section class="container my-24 md:my-48">
          <div class="space-content my-24">
            <h1>{gallery.title}</h1>
            <h2>{gallery.headline}</h2>
            <p>{gallery.description}</p>
          </div>
          <GalleryGrid images={gallery.images} galleryName={gallery.slug.current} preview />
        </section>
      );
    })
  }
</DefaultLayout>
