---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import { colorPalettes, paletteHues } from '@assets/scss/base/color-palettes';
import { Modal } from 'accessible-astro-components';

import { Icon } from 'astro-icon/components';
---

<DefaultLayout title="Accessible Components">
  <section class="my-12">
    <div class="space-content container">
      <h1>Find your Colour palette</h1>
      <p class="text-2xl">Design your own colour scheme with eighteen carefully selected hues.</p>
      <p class="text-2xl">Select a row of hues to set them as theme colours</p>
    </div>
  </section>
  <section class="mb-12 mt-32">
    <div class="color-grid w-full text-center">
      {
        Array(18)
          .fill(null)
          .map((_, hueIndex) => {
            return (
              <>
                <button type="button" class="grid-row" data-id="grid-button" id={`grid-button-${hueIndex}`}>
                  {Array(13)
                    .fill(null)
                    .map((_, valueIndex) => (
                      // @ts-expect-error indexing by valueIndex is correct
                      <div
                        class="grid-item"
                        data-hue={paletteHues[hueIndex]}
                        data-hue-value={colorPalettes[paletteHues[hueIndex]!][valueIndex]}
                      >
                        <p class="color-description">
                          {paletteHues[hueIndex]}
                          <br />
                          {
                            // @ts-expect-error indexing by valueIndex is correct
                            colorPalettes[paletteHues[hueIndex]!][valueIndex]
                          }
                        </p>
                      </div>
                    ))}
                </button>
                <Modal triggerId={`grid-button-${hueIndex}`} title={`Select ${paletteHues[hueIndex]} colours?`}>
                  <div class="modal-content space-content mx-auto max-w-full">
                    <div class="grid-row">
                      {Array(13)
                        .fill(null)
                        .map((_, valueIndex) => (
                          // @ts-expect-error indexing by valueIndex is correct
                          <div
                            class="grid-item"
                            data-hue={paletteHues[hueIndex]}
                            data-hue-value={colorPalettes[paletteHues[hueIndex]!][valueIndex]}
                          />
                        ))}
                    </div>
                    <div data-id="grid-button-group" class="flex flex-col justify-center gap-4 md:flex-row">
                      <button id={`grid-button-primary-${hueIndex}`} type="button" class="button">
                        Set primary palette colours
                      </button>
                      <button
                        id={`grid-button-secondary-${hueIndex}`}
                        type="button"
                        class="button"
                        data-color="secondary"
                      >
                        Set secondary palette colours
                      </button>
                      <button id={`grid-button-unset`} type="button" class="button" data-color="neutral">
                        Revert to default colours
                      </button>
                    </div>
                    <div class="flex flex-col items-center justify-center gap-2 md:flex-row">
                      <a href="/" class="flex items-center gap-2 pr-4 !no-underline">
                        <span class="text-2xl font-bold">Company Name</span>
                      </a>
                      <ul class="menu flex flex-col justify-center gap-4 md:flex-row md:items-center">
                        <li class="menu-item type-icon">
                          <button type="button" title="Example link with icon" class="fake-anchor">
                            <Icon name="ion:logo-github" />
                            Example link with icon
                          </button>
                        </li>
                        <li class="menu-item">
                          <button type="button" class="fake-anchor">
                            Example link
                          </button>
                        </li>
                        <li class="menu-item">
                          <button type="button" class="fake-anchor is-active">
                            Example active link
                          </button>
                        </li>
                      </ul>
                    </div>

                    <section class="space-content">
                      <h2>
                        <span class="text-gradient">EXTRA FANCY</span> Header
                      </h2>
                      <h3>Example basic Header</h3>
                      <p>This is some sample text.</p>
                      <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab minus qui eos tempora, corporis
                        aperiam esse obcaecati eligendi voluptas dicta?
                      </p>
                    </section>

                    <div class="call-to-action flex flex-col items-center gap-12 rounded-xl p-12">
                      <div class="my-12">
                        <div class="">
                          <h2>Example footer</h2>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, tenetur.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </Modal>
              </>
            );
          })
      }
    </div>
  </section>
</DefaultLayout>

<script>
  import { colorPalettes, paletteHues } from '@assets/scss/base/color-palettes';

  let hueButtonGroups = document.querySelectorAll<HTMLButtonElement>("[data-id='grid-button-group']");

  function setThemeProperties(hue: keyof typeof colorPalettes, isPrimary = true) {
    const propertyName = isPrimary ? 'primary' : 'secondary';

    for (let i = 0; i <= 12; i++) {
      // @ts-expect-error i is correct hue index
      localStorage.setItem(`--${propertyName}-${i}`, colorPalettes[hue][i]);
      // @ts-expect-error i is correct hue index
      document.documentElement.style.setProperty(`--${propertyName}-${i}`, colorPalettes[hue][i]);
    }
  }

  function unsetThemeProperties() {
    for (let i = 0; i <= 12; i++) {
      // @ts-expect-error i is correct hue index
      localStorage.setItem(`--primary-${i}`, colorPalettes['purple'][i]);
      // @ts-expect-error i is correct hue index
      localStorage.setItem(`--secondary-${i}`, colorPalettes['cyan'][i]);

      // @ts-expect-error i is correct hue index
      document.documentElement.style.setProperty(`--primary-${i}`, colorPalettes['purple'][i]);
      // @ts-expect-error i is correct hue index
      document.documentElement.style.setProperty(`--secondary-${i}`, colorPalettes['cyan'][i]);
    }
  }

  function setRootThemeProperties() {
    for (let i = 0; i <= 12; i++) {
      const storePrimaryProperty = localStorage.getItem(`--primary-${i}`);
      const storeSecondaryProperty = localStorage.getItem(`--secondary-${i}`);

      if (storePrimaryProperty) {
        document.documentElement.style.setProperty(`--primary-${i}`, storePrimaryProperty);
      }
      if (storeSecondaryProperty) {
        document.documentElement.style.setProperty(`--secondary-${i}`, storeSecondaryProperty);
      }
    }
  }

  hueButtonGroups.forEach((group, index) => {
    const hue = paletteHues[index];
    if (!hue) return;
    const primaryButton = group.querySelector("button[id*='primary']");
    const secondaryButton = group.querySelector("button[id*='secondary']");
    const unsetButton = group.querySelector("button[id*='unset']");

    primaryButton?.addEventListener('click', () => {
      setThemeProperties(hue);
    });
    secondaryButton?.addEventListener('click', () => {
      setThemeProperties(hue, false);
    });
    unsetButton?.addEventListener('click', () => {
      unsetThemeProperties();
    });
  });

  document.addEventListener('astro:after-swap', () => {
    setRootThemeProperties();
    hueButtonGroups = document.querySelectorAll<HTMLButtonElement>("[data-id='grid-button-group']");

    hueButtonGroups.forEach((group, index) => {
      const hue = paletteHues[index];
      if (!hue) return;
      const primaryButton = group.querySelector("button[id*='primary']");
      const secondaryButton = group.querySelector("button[id*='secondary']");
      const unsetButton = group.querySelector("button[id*='unset']");

      primaryButton?.addEventListener('click', () => {
        setThemeProperties(hue);
      });
      secondaryButton?.addEventListener('click', () => {
        setThemeProperties(hue, false);
      });
      unsetButton?.addEventListener('click', () => {
        unsetThemeProperties();
      });
    });
  });
</script>

<style lang="scss">
  @use '@assets/scss/base/color-palettes' as *;

  .grid-row:hover,
  .grid-row:focus-visible {
    outline: 3px solid black;
  }

  :global(.darkmode) .grid-row:hover,
  .grid-row:focus-visible {
    outline: 3px solid white;
  }

  .modal-content {
    .call-to-action {
      // color: var(--neutral-12);
      background-image: linear-gradient(40deg, var(--primary-1), var(--secondary-3));
    }

    :global(.darkmode) .call-to-action {
      background-image: linear-gradient(40deg, var(--primary-9), var(--secondary-12));
    }

    .fake-anchor {
      text-decoration: none;
      font-size: 1.125rem;
      line-height: 1.6875rem;
      transition: color 0.15s ease-in-out;
      border: none;
      color: var(--action-color);
    }

    .fake-anchor:focus,
    .fake-anchor:hover,
    .is-active {
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-decoration-style: wavy;
      text-underline-offset: 7px;
      color: var(--action-color-state);
    }

    .is-active {
      font-weight: bold;
    }

    .type-icon .fake-anchor {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      [data-icon] {
        width: 30px;
        padding-right: 0.25rem;

        path {
          fill: var(--action-color);
          transition: fill 0.2s ease-in-out;
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }

  .text-gradient {
    background: linear-gradient(315deg, var(--primary-6) 25%, var(--secondary-4));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-4) 25%, var(--secondary-6));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .color-grid {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .grid-row {
      border: none;
      display: flex;
      width: 100%;
    }

    .grid-item {
      flex-grow: 1;
      aspect-ratio: 1;
      position: relative;

      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      @media only screen and (max-width: 1200px) {
        .color-description {
          display: none;
        }
      }
    }

    .grid-item:nth-child(n + 6) {
      color: white;
    }

    @each $color, $shades in $palettes {
      $i: index(($palettes), ($color $shades));
      @for $j from 0 through 13 {
        .grid-row[data-id='grid-button']:nth-of-type(#{$i}) .grid-item:nth-child(#{$j}),
        :global(.modal[aria-labelledby='grid-button-#{$i - 1}']) .grid-item:nth-child(#{$j}) {
          background-color: var(--clr-#{$color}-#{$j - 1});
          // set dark text for lightest colors
          color: var(--clr-#{$color}-#{if($j < 5, 12, 0)});
        }
      }
    }
  }
</style>
