---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import Hero from '../components/Hero.astro';
import Feature from '../components/Feature.astro';
import Counter from '../components/Counter.astro';
import ContentMedia from '../components/ContentMedia.astro';
import { getHomepage } from '@lib/sanity/homePage';
import { imageBuilder } from '@lib/sanity/imageBuilder';
import { PortableText } from 'astro-portabletext';
import DoubleFeature from '@components/DoubleFeature.astro';

const {
  headline,
  heroImage,
  introduction,
  companyPortrait,
  problem,
  problemTitle,
  solution,
  solutionTitle,
  benefits,
  subheadline,
} = await getHomepage();

const heroImageUrl = imageBuilder(heroImage, 'hero-sq').largeUrl;
---

<DefaultLayout title="Home">
  <Hero src={heroImageUrl} headline={headline} subheadline={subheadline} heroImgAltText={heroImage.altText} />

  <section class="container my-24 lg:my-48">
    <ContentMedia title="About our company" imgSrc={companyPortrait}>
      <PortableText value={introduction} />
    </ContentMedia>
  </section>

  <section class="my-24 lg:my-48">
    <div class="container">
      <div class="grid grid-cols-1 gap-24 md:grid-cols-2 md:gap-12">
        <Feature icon="mdi:tailwind" title={problemTitle}>
          <PortableText value={problem} />
        </Feature>
        <Feature icon="mdi:tailwind" title={solutionTitle}>
          <PortableText value={solution} />
        </Feature>
      </div>
    </div>
  </section>

  <section class="my-24 lg:my-48">
    <DoubleFeature content={benefits} />
  </section>

  <section class="my-24 lg:my-48">
    <div class="container">
      <h2 class="mb-12">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="5" title="Popular" sub="Locations" />
        <Counter count="50+" title="Lighting" sub="Styles" />
        <Counter count="5000" title="Satisfied" sub="Customers" />
        <Counter count="5+" title="Years" sub="Since launch" />
      </div>
    </div>
  </section>
</DefaultLayout>
