---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import Hero from '../components/Hero.astro';
import Feature from '../components/Feature.astro';
import Counter from '../components/Counter.astro';
import ContentMedia from '../components/ContentMedia.astro';
import { getHomepage } from '@lib/sanity/homePage';
import { imageBuilder } from '@lib/sanity/imageBuilder';
import { PortableText } from 'astro-portabletext';
import DoubleFeature from '@components/DoubleFeature.astro';
import Section from '@components/Section.astro';

const {
  headline,
  heroImage,
  introduction,
  companyPortrait,
  problem,
  problemTitle,
  solution,
  solutionTitle,
  benefits,
  subheadline,
} = await getHomepage();

const heroImageUrl = imageBuilder(heroImage, 'hero-sq').largeUrl;
---

<DefaultLayout title="Home">
  <Hero src={heroImageUrl} headline={headline} subheadline={subheadline} heroImgAltText={heroImage.altText} />

  <Section>
    <ContentMedia title="About our company" imgSrc={companyPortrait}>
      <PortableText value={introduction} class="prose-lg dark:prose-invert" />
      <h3 class="text-lg">{problemTitle}</h3>
      <PortableText value={problem} class="prose-md prose prose-sm dark:prose-invert" />
      <h3 class="text-lg">{solutionTitle}</h3>
      <PortableText value={solution} class="prose-md prose prose-sm dark:prose-invert" />
    </ContentMedia>
  </Section>

  <Section>
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
      <Feature icon="mdi:tailwind" title={problemTitle}>
        <PortableText value={problem} class="text-lg" />
      </Feature>
      <Feature icon="mdi:tailwind" title={solutionTitle}>
        <PortableText value={solution} />
      </Feature>
    </div>
  </Section>

  <Section>
    <DoubleFeature content={benefits} />
  </Section>

  <Section>
    <h2 class="mb-12">Counters</h2>
    <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
      <Counter count="5" title="Popular" sub="Locations" />
      <Counter count="50+" title="Lighting" sub="Styles" />
      <Counter count="5000" title="Satisfied" sub="Customers" />
      <Counter count="5+" title="Years" sub="Since launch" />
    </div>
  </Section>
</DefaultLayout>
